<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-tagsinput.css') }}" />

    {% endblock %}

    {% if title %}
        <title>{{ title }} - {{ appname }}</title>
    {% endif %}
  </head>

  <body>
    <div class="container" style="height:50%">
      <nav class="navbar navbar-default navbar-upper">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-upper" href="">{{ appbrand }}</a>
        </div>
      </nav>
      <nav class="navbar navbar-static-top navbar-lower">

        <ul class="nav navbar-nav">
          <li> <a href="/">Home</a> </li>
          <li> <a href="/latest">Latest</a> </li>
          <li> <a href="/tags">Tags</a> </li>
          <li> <a href="/add">Add new</a> </li>
          <li> <a href="/login">Log in</a> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
              <form action="/search" method="post" class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                      <input type="search" class="form-control" placeholder="Search">
                  </div>
              </form>
            </li>
            <li> <a href="/tags"><i class="fa fa-search" aria-hidden="true"></i>
</a> </li>
        </ul>
      </nav>


      <div class="content">

        {% block content %}

        {% endblock %}

        <footer class="footer">
          <div class="footer-copyright">
            Copyright © Lord Gumblert Productions 2016
          </div>
        </footer>
      </div>

    </div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-tagsinput.min.js') }}"></script>
  </body>

</html>
