{% extends "base.html" %}
{% block content %}

{% if quotes  %}
{% for quote in quotes %}
<div class="quote-header">
  <a class="quote-link" href="quote/{{ quote.id }}">#{{ quote.id }}</a>
  <a class="rate-positive">+</a> ({{quote.rating}}) <a class="rate-negative">-</a>
  <div class="pull-right quote-date">{{ quote.time }}</div>

  <form class="mod-form" action="/moderate" name="moderate" method="post">
    <input type="hidden" name="quoteid" value={{quote.id}} />
    <button type="submit" name="submit" class="btn btn-success btn-sm btn-mod" value="Approve">Approve</button>
    <button type="submit" name="submit" class="btn btn-danger btn-sm btn-mod" value="Delete">Delete</button>
  </form>
</div>


<div class="quote">
    <p>{{ quote.content|safe }}</p>
</div>


<div class="tags">

    Tags:
    {% for tag in quote.tags %}
    <a href="tag/{{tag.name}}" class="badge"> {{tag.name}} </a>
    {% endfor %}

</div>
{% endfor %}
{% endif %}

{% endblock %}
